@media (min-width: 1024px) and (max-width: 1239px) {
  .buy-now {
    display: none; }
  .header {
    margin-top: 125px;
    background-position: 0.2px 100.4%; }
    .header::after {
      z-index: -1; }
    .header__nav {
      display: block;
      min-height: 124px;
      top: -125px;
      left: 0;
      background-color: #555555;
      padding: 11px 15px; }
    .header__menu {
      display: none; }
    .header__logo {
      margin-right: 0; }
    .header__sidebar {
      position: initial;
      text-align: center; }
    .header__heading {
      padding-top: 59px;
      padding-bottom: 65px;
      padding-left: 45px;
      position: initial; }
  .contact {
    display: block;
    padding: 0 30px; }
    .contact__items {
      width: 100%; }
    .contact__desc {
      display: block; }
  .footer {
    margin-top: 50px; }
    .footer__img {
      position: initial;
      padding: 80px 45px 0; }
    .footer__contact {
      margin: 0;
      position: initial;
      display: block; }
    .footer .footer__nav {
      padding-bottom: 80px; }
    .footer__input {
      display: flex;
      width: 100%;
      margin-left: 0;
      margin-top: 60px; }
    .footer__send-btt {
      line-height: initial;
      padding: 10.8px 65.68px;
      width: 26%;
      text-align: center; }
    .footer__fill-out {
      width: 71.93%; }
    .footer__content {
      position: initial;
      height: auto;
      width: 100%;
      padding-bottom: 0; }
    .footer__nav {
      min-width: 100%;
      margin-left: 0;
      margin-top: 65px; }
    .footer__travel-wra {
      display: block; }
    .footer__made {
      display: block;
      height: auto; }
    .footer .made-heading__text {
      margin-top: 0;
      text-align: center;
      margin-left: 0;
      padding: 20px;
      letter-spacing: 2px; }
    .footer .made-copyright__text {
      text-align: center;
      margin-right: 0;
      padding: 20px;
      margin-top: 0;
      letter-spacing: 2px; } }

@media (min-width: 740px) and (max-width: 1023px) {
  .buy-now {
    display: none; }
  .header {
    margin-top: 125px;
    background-position: 0.2px 100.4%; }
    .header::after {
      z-index: -1; }
    .header__nav {
      display: block;
      min-height: 124px;
      top: -125px;
      left: 0;
      background-color: #555555;
      padding: 11px 15px; }
    .header__menu {
      display: none; }
    .header__logo {
      margin-right: 0; }
    .header__sidebar {
      position: initial;
      text-align: center; }
    .header__heading {
      padding-top: 59px;
      padding-bottom: 65px;
      padding-left: 25px;
      position: initial; }
  .contact {
    display: block;
    padding: 0 10px; }
    .contact__items {
      width: 100%; }
    .contact__desc {
      display: block; }
  .footer {
    margin-top: 50px; }
    .footer__img {
      position: initial;
      padding: 80px 30px 0; }
    .footer__contact {
      margin: 0;
      position: initial;
      display: block; }
    .footer__input {
      display: flex;
      width: 100%;
      margin-left: 0;
      margin-top: 60px; }
    .footer__send-btt {
      line-height: initial;
      padding: 10.8px 65.68px;
      width: 26%;
      text-align: center; }
    .footer__fill-out {
      width: 71.93%; }
    .footer__content {
      position: initial;
      height: auto;
      width: 100%; }
    .footer__nav {
      min-width: 100%;
      margin-left: 0;
      margin-top: 65px; }
    .footer__travel-wra {
      display: block; }
    .footer__made {
      display: block;
      height: auto; }
    .footer .made-heading__text {
      margin-top: 0;
      text-align: center;
      margin-left: 0;
      padding: 20px;
      letter-spacing: 2px; }
    .footer .made-copyright__text {
      text-align: center;
      margin-right: 0;
      padding: 20px;
      margin-top: 0;
      letter-spacing: 2px; } }

@media (max-width: 739px) {
  .buy-now {
    display: none; }
  .header {
    margin-top: 125px; }
    .header::after {
      z-index: -1; }
    .header__nav {
      display: block;
      min-height: 124px;
      top: -125px;
      left: 0;
      background-color: #555555;
      padding: 11px 15px; }
    .header__menu {
      display: none; }
    .header__logo {
      margin-right: 0; }
    .header__sidebar {
      position: initial;
      text-align: center; }
    .header__heading {
      padding-top: 131px;
      padding-bottom: 65px;
      padding-left: 72px;
      position: initial; }
  .contact {
    display: block;
    padding: 0px 57px; }
    .contact__items {
      width: 100%; }
    .contact__desc {
      display: block; }
    .contact__send-bt {
      width: 100%; }
  .footer {
    margin-top: 50px; }
    .footer__img {
      position: initial;
      padding-top: 80px; }
    .footer__contact {
      margin: 0;
      position: initial;
      display: block; }
    .footer__slogan {
      width: 100%; }
    .footer__nav {
      padding-bottom: 80px; }
    .footer__input {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-top: 60px; }
    .footer__send-btt {
      line-height: initial;
      padding: 10.8px 65.68px;
      display: block;
      text-align: center; }
    .footer__fill-out {
      width: 100%; }
    .footer__content {
      position: initial;
      height: auto;
      width: 100%;
      padding: 0 72px; }
    .footer__nav {
      min-width: 100%;
      margin-left: 0;
      margin-top: 65px; }
    .footer__travel-wra {
      display: block; }
    .footer__travel {
      width: 100%; }
    .footer__items {
      margin-right: 0;
      margin-bottom: 35px; }
    .footer__items:last-child {
      margin-bottom: 0px; }
    .footer__made {
      display: block;
      height: auto; }
    .footer .made-heading__text {
      margin-top: 0;
      text-align: center;
      margin-left: 0;
      padding: 20px;
      letter-spacing: 2px; }
    .footer .made-copyright__text {
      text-align: center;
      margin-right: 0;
      padding: 20px;
      margin-top: 0;
      letter-spacing: 2px; } }
