.grid {
  width: 100%;
  display: block;
  padding: 0; }

.grid.wide {
  max-width: 1200px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px; }

.row.no-gutters {
  margin-left: 0;
  margin-right: 0; }

.col {
  padding-left: 4px;
  padding-right: 4px; }

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0; }

.c-0 {
  display: none; }

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.c-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.c-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.c-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.c-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.c-o-1 {
  margin-left: 8.33333%; }

.c-o-2 {
  margin-left: 16.66667%; }

.c-o-3 {
  margin-left: 25%; }

.c-o-4 {
  margin-left: 33.33333%; }

.c-o-5 {
  margin-left: 41.66667%; }

.c-o-6 {
  margin-left: 50%; }

.c-o-7 {
  margin-left: 58.33333%; }

.c-o-8 {
  margin-left: 66.66667%; }

.c-o-9 {
  margin-left: 75%; }

.c-o-10 {
  margin-left: 83.33333%; }

.c-o-11 {
  margin-left: 91.66667%; }

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -12px;
    margin-right: -12px; }
  .col {
    padding-left: 12px;
    padding-right: 12px; }
  .m-0 {
    display: none; }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block; }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .m-o-1 {
    margin-left: 8.33333%; }
  .m-o-2 {
    margin-left: 16.66667%; }
  .m-o-3 {
    margin-left: 25%; }
  .m-o-4 {
    margin-left: 33.33333%; }
  .m-o-5 {
    margin-left: 41.66667%; }
  .m-o-6 {
    margin-left: 50%; }
  .m-o-7 {
    margin-left: 58.33333%; }
  .m-o-8 {
    margin-left: 66.66667%; }
  .m-o-9 {
    margin-left: 75%; }
  .m-o-10 {
    margin-left: 83.33333%; }
  .m-o-11 {
    margin-left: 91.66667%; } }

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -23px;
    margin-right: -23px; }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px; }
  .col {
    padding-left: 23px;
    padding-right: 23px; }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px; }
  .l-0 {
    display: none; }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block; }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .l-o-1 {
    margin-left: 8.33333%; }
  .l-o-2 {
    margin-left: 16.66667%; }
  .l-o-3 {
    margin-left: 25%; }
  .l-o-4 {
    margin-left: 33.33333%; }
  .l-o-5 {
    margin-left: 41.66667%; }
  .l-o-6 {
    margin-left: 50%; }
  .l-o-7 {
    margin-left: 58.33333%; }
  .l-o-8 {
    margin-left: 66.66667%; }
  .l-o-9 {
    margin-left: 75%; }
  .l-o-10 {
    margin-left: 83.33333%; }
  .l-o-11 {
    margin-left: 91.66667%; } }

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 100%; } }

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px; }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px; }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px; }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px; }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px; }
  .wide .l-0 {
    display: none; }
  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block; }
  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%; }
  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .wide .l-o-1 {
    margin-left: 8.33333%; }
  .wide .l-o-2 {
    margin-left: 16.66667%; }
  .wide .l-o-3 {
    margin-left: 25%; }
  .wide .l-o-4 {
    margin-left: 33.33333%; }
  .wide .l-o-5 {
    margin-left: 41.66667%; }
  .wide .l-o-6 {
    margin-left: 50%; }
  .wide .l-o-7 {
    margin-left: 58.33333%; }
  .wide .l-o-8 {
    margin-left: 66.66667%; }
  .wide .l-o-9 {
    margin-left: 75%; }
  .wide .l-o-10 {
    margin-left: 83.33333%; }
  .wide .l-o-11 {
    margin-left: 91.66667%; } }

.header {
  width: 100%;
  background-image: url(/namql/travel_project/assets/img/travel_contact/banner-contact.jpg);
  padding-top: 20.357%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -0.2px 50%;
  position: relative;
  z-index: 1; }
  .header__nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 19.5px 50px;
    align-items: center;
    z-index: 3;
    margin-top: 1px;
    background-color: rgba(0, 0, 0, 0.12); }
  .header__logo {
    height: 64px;
    display: flex;
    padding: 0 15px;
    margin-right: 49px;
    cursor: pointer; }
  .header__img {
    width: 160px;
    height: 38px;
    margin: auto;
    margin-bottom: 18px; }
  .header__menu {
    display: flex;
    margin-top: -2px;
    margin-left: -1px; }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(101, 100, 96, 0.5) 0%, rgba(101, 100, 96, 0.5) 0%, rgba(101, 100, 96, 0) 50%, rgba(101, 100, 96, 0.5) 100%); }
  .header__sidebar {
    position: absolute;
    top: 35px;
    right: 65px;
    cursor: pointer; }
  .header__sidebar-icons {
    color: #fff;
    font-size: 27px; }

.nav__items {
  padding: 15px 17.5px;
  line-height: 36px;
  position: relative;
  list-style: none;
  cursor: pointer; }
  .nav__items a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: block; }
  .nav__items:hover > .sub-nav {
    display: block; }
  .nav__items:last-child {
    margin-left: 30px; }

.sub-nav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(250, 250, 250, 0.945);
  top: 65px;
  left: 2px; }
  .sub-nav__items {
    position: relative;
    list-style: none;
    padding: 1px 25px;
    min-width: 190px;
    text-align: left;
    line-height: 42px;
    border-bottom: 1px solid #f1f1f1; }
    .sub-nav__items a {
      font-size: 14px;
      color: #9a9a9a;
      width: 100%;
      display: block;
      text-transform: initial; }
    .sub-nav__items:hover {
      background-color: #f9f9f9; }
      .sub-nav__items:hover > .sub-nav {
        display: block; }
    .sub-nav__items > .sub-nav {
      display: none;
      position: absolute;
      list-style: none;
      background-color: #fff;
      width: 190px;
      left: 215px;
      top: 0; }
    .sub-nav__items::before {
      content: "";
      display: block;
      position: absolute;
      width: 45px;
      height: 180px;
      top: 0;
      left: -36px; }

.sub-nav__items--hot a::after {
  content: "HOT";
  float: right;
  background-color: #f76570;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 5px;
  margin-top: 15px; }

.sub-nav__items--new a::after {
  content: "NEW";
  float: right;
  background-color: #1bbc9b;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 5px;
  margin-top: 15px; }

.sub-nav__items--right-arrow > a::after {
  content: "";
  float: right;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #9a9a9a;
  margin-top: 16px; }

.sub-nav__items--best a::after {
  content: "BEST";
  float: right;
  background-color: #14b9d5;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 5px;
  margin-top: 15px; }

.nav__btt {
  padding: 8px 15px 8px 15px;
  background-color: #ba71da;
  text-decoration: none;
  border-radius: 30px;
  height: 36px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 27px;
  margin-top: 14px;
  font-family: 'Poppins', sans-serif; }

.footer {
  margin-top: 64.5px;
  width: 100%; }
  .footer__img {
    background-image: url(/travel_project/assets/img/footer.jpg);
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 80px; }
  .footer__content {
    width: 1170px;
    padding-bottom: 80px;
    margin: 0 auto; }
  .footer__contact {
    display: flex;
    margin-left: 194.7px;
    margin-bottom: 60px; }
  .footer__slogan {
    color: red;
    min-width: 370px; }
  .footer__slogan-1 {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .footer__slogan-2 {
    font-size: 36px;
    line-height: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #555555; }
  .footer__input {
    margin-top: 20px;
    margin-left: 30px;
    width: 370px; }
  .footer__fill-out {
    padding: 13.6px 16.7px;
    border: 1px solid #f1f1f1;
    outline: none;
    border-radius: 30px;
    margin-right: 14.26px;
    width: 69.6%;
    background-color: #f9f9f9; }
  .footer__send-btt {
    background-color: #14b9d5;
    border-color: #fff;
    padding: 10.8px 23.43px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 30px;
    margin-left: 1.3px;
    text-decoration: none; }
  .footer__nav {
    margin-top: 61px; }
  .footer__travel-wra {
    display: flex;
    background-color: #fff;
    padding: 45px 45px;
    padding-bottom: 41.2px; }
  .footer__travel {
    width: 555px; }
  .footer .travel__title {
    margin-top: -0.6px; }
  .footer .travel__title-img {
    width: 150px;
    height: 35.14px; }
  .footer .travel__desc {
    margin-top: 30px;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    color: #9a9a9a;
    letter-spacing: 1px;
    padding-right: 37px; }
  .footer .travel__address {
    margin-top: 25px; }
  .footer .address-icons {
    color: #9a9a9a;
    height: 22px;
    width: 22px;
    margin-right: 15px; }
  .footer__items {
    margin-right: 73px; }
    .footer__items:last-child {
      margin-right: 0;
      margin-left: -2px; }
  .footer .items__heading {
    color: #555555;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 34.3px;
    margin-top: 15px; }
  .footer .items__list-element {
    list-style-type: none;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #9a9a9a; }
  .footer .arrow-icons {
    height: 10px;
    width: 10px;
    margin-right: 9px; }
  .footer__made {
    display: flex;
    background-color: #14b9d5;
    height: 52px;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase; }
  .footer__made-heading {
    flex: 1; }
  .footer .made-heading__text {
    margin-top: 20px;
    margin-left: 20px; }
  .footer .made-copyright__text {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px; }
  .footer__made-copyright {
    flex: 1; }

.buy-now {
  position: fixed;
  right: 47px;
  bottom: 3px;
  z-index: 10; }

.buy-now_small-circle {
  height: 35px;
  width: 35px;
  background-color: #555555;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  left: -3.5px;
  top: 3px;
  display: flex;
  z-index: 2; }

.buy-now__icons {
  margin: auto;
  margin-left: 10.4px; }

.buy-now__icons {
  width: 15.2px;
  height: 15.2px; }

.buy-now_big-circle {
  position: relative;
  left: 17.5px;
  top: -26.5px;
  background-color: #555555;
  width: 64.8px;
  height: 64.8px;
  border-radius: 100%;
  padding-top: 22px;
  z-index: 1;
  cursor: pointer; }

.buy-now__text {
  position: absolute;
  color: #fff;
  font-size: 8px;
  background-color: #f76570;
  letter-spacing: 1px;
  padding: 3.3px 5.7px 2.4px 4.5px;
  line-height: 10px;
  text-transform: uppercase;
  top: 0.9px;
  left: 5px;
  font-family: 'Open Sans', sans-serif; }

.buy-now_dolla {
  font-size: 8px;
  line-height: 8px;
  position: absolute;
  color: #ffffff;
  top: 21.7px;
  left: 12.5px; }

.buy-now_number {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.8px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  left: 17.7px;
  top: 23px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

.header {
  width: 100%;
  background-image: url(/f8_fek1/namql/travel_project/assets/img/travel_shop/beach_header.jpg);
  padding-top: 20.52%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -0.2px 50%;
  position: relative;
  z-index: 1; }
  .header__heading {
    font-size: 35px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 169px;
    bottom: 64.5px;
    z-index: 2; }

.the-product {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  margin-top: 51.1px; }
  .the-product__info {
    display: flex; }
  .the-product__img {
    position: relative; }
  .the-product__sale-btt {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 13px;
    line-height: 13px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #1bbc9b;
    letter-spacing: 1px;
    padding: 8px; }
  .the-product__big-img {
    width: 100%;
    width: 561.6px;
    height: 561.6px;
    margin-bottom: 1px; }
  .the-product__img-list {
    display: flex;
    justify-content: space-around; }
  .the-product__img-items {
    width: 104.31px;
    height: 104.31px; }
  .the-product__text {
    padding-left: 46.5px; }
  .the-product__name {
    font-family: 'Poppins', sans-serif;
    color: #555555;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px; }
  .the-product__start-rate {
    width: 100%;
    position: relative;
    margin-top: 15.8px;
    margin-bottom: 14px; }
    .the-product__start-rate .star-icons {
      font-size: 13.2px;
      color: #9d9d9d;
      opacity: 0.9;
      margin-left: -4px; }
    .the-product__start-rate .star-icons:first-child {
      margin-left: 0; }
  .the-product__price {
    font-size: 30px;
    line-height: 30px;
    color: #9a9a9a;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-top: 19px; }
  .the-product__price-remove {
    opacity: 0.5;
    margin-right: 11px; }
  .the-product__price-unit {
    font-size: 20px;
    line-height: 20px;
    vertical-align: top;
    margin-right: 10px; }
  .the-product__text1 {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-top: 30.7px;
    margin-bottom: 20px; }
  .the-product__text2 {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 29px; }
  .the-product__chosen {
    margin-bottom: 33.5px; }
  .the-product__amount {
    border: 1px solid #f1f1f1;
    border-radius: 30px;
    color: #9a9a9a;
    font-size: 15px;
    padding: 10px 20px;
    width: 100px;
    height: 34px;
    text-align: center;
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    outline: none;
    margin-right: 16px; }
  .the-product__add-btt {
    background-color: #1bbc9b;
    padding: 7.2px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    max-height: 100%; }
  .the-product__category, .the-product__tag {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #555; }
  .the-product__category {
    margin-bottom: 10px; }
  .the-product__category-name, .the-product__tag-name {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 13px;
    padding: 8px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #9a9a9a;
    border: 1px solid #f1f1f1; }
  .the-product__desc {
    margin-top: 34.4px; }
  .the-product__desc-more {
    display: flex;
    top: 0;
    left: 0;
    position: relative;
    border-bottom: 1px solid #f1f1f1; }
    .the-product__desc-more .line {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #37c4a7;
      height: 1.6px;
      width: 100%; }
  .the-product__desc-tab {
    list-style: none;
    padding: 0 19px 0 14px;
    display: block;
    color: #555555;
    padding: 20px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer; }
  .the-product__desc-tab.active {
    opacity: 1; }
  .the-product__related {
    color: #555555;
    font-size: 25px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 45px; }

.desc-tab__detail {
  width: 1170px;
  left: 0; }

.desc-tab__detail-tab-item {
  display: none; }

.desc-tab__detail-tab-item.active {
  display: block; }

.desc-tab__detail-tab-desc {
  margin-bottom: 60px; }
  .desc-tab__detail-tab-desc .desc-tab__heading {
    margin-top: 39px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    color: #555555;
    letter-spacing: 1px; }
  .desc-tab__detail-tab-desc .desc-tab__text {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px; }

.desc-tab__detail-tab-info {
  margin-bottom: 28px; }
  .desc-tab__detail-tab-info .desc-tab__heading {
    margin-top: 39px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    color: #555555;
    letter-spacing: 1px; }
  .desc-tab__detail-tab-info .desc-tab__text {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px; }
  .desc-tab__detail-tab-info .desc-tab__detail-info-title {
    color: #555555;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px; }
  .desc-tab__detail-tab-info .desc-tab__detail-info-list {
    border-top: 1px solid #f1f1f1; }
  .desc-tab__detail-tab-info .desc-tab__detail-info-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1; }
  .desc-tab__detail-tab-info .desc-tab__detail-info-item--them-gray {
    background-color: rgba(0, 0, 0, 0.025); }
  .desc-tab__detail-tab-info .desc-tab__detail-info-field {
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    font-size: 14px;
    line-height: 21px;
    width: 190px;
    padding: 15px 20px;
    letter-spacing: 1px; }
  .desc-tab__detail-tab-info .desc-tab__detail-info-detail {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #9a9a9a;
    font-style: italic;
    line-height: 27px;
    letter-spacing: 1px; }

.desc-tab__detail-tab-review {
  margin-bottom: 70px; }
  .desc-tab__detail-tab-review .desc-tab__detail-info-title {
    color: #555555;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px; }
  .desc-tab__detail-tab-review .desc-tab__detail-info-comment {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 20px; }
  .desc-tab__detail-tab-review .desc-tab__detail-info-comment:first-child {
    margin-top: 0; }
  .desc-tab__detail-tab-review .desc-tab__detail-info-comment-img {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .desc-tab__detail-tab-review .desc-tab__detail-info-comment-content {
    margin-left: 10px;
    padding: 15px 10px;
    width: 100%; }
  .desc-tab__detail-tab-review .desc-tab__detail-info-comment-head {
    display: flex;
    justify-content: space-between;
    line-height: 16px;
    margin-bottom: 16px; }
  .desc-tab__detail-tab-review .desc-tab__detail-info-comment-specifically {
    color: #555555;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px; }
  .desc-tab__detail-tab-review .desc-tab__detail-info-comment-text {
    font-family: 'Poppins', sans-serif;
    color: #9a9a9a;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1px;
    margin-bottom: 14px; }
  .desc-tab__detail-tab-review .star-icons {
    font-size: 13px; }

.desc-tab__detail-info-comment-new {
  color: #a3a3a3;
  font-size: 14px;
  line-height: 27px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  margin-top: 20px; }

.desc-tab__detail-info-comment-remind {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 27px;
  color: #9a9a9a;
  letter-spacing: 1px;
  margin-bottom: 12px; }

.desc-tab__detail-info-comment-you-rate-text {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #9a9a9a;
  letter-spacing: 1px; }

.desc-tab__detail-info-comment-you-rate {
  line-height: 14px;
  margin-bottom: 25px; }

.desc-tab__detail-info-label {
  color: #9a9a9a;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 1px; }

.desc-tab__detail-info-input-review-fill {
  padding: 10px 20px;
  border: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  width: 100%;
  border-radius: 30px;
  color: #878787;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  outline: none;
  height: 75px;
  margin-bottom: 3px; }

.desc-tab__detail-info-input-name-fill {
  padding: 10px 20px;
  border: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  width: 100%;
  border-radius: 30px;
  color: #878787;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  outline: none;
  margin-bottom: 10px; }

.desc-tab__detail-info-input-email-fill {
  padding: 10px 20px;
  border: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  min-width: 297px;
  border-radius: 30px;
  color: #878787;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  outline: none; }

.desc-tab__detail-info-checkbox {
  margin-top: 15px;
  display: block;
  margin-left: 3px; }

.desc-tab__detail-info-remind-save {
  font-family: 'Poppins', sans-serif;
  color: #9a9a9a;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 1px;
  margin-top: 9px;
  margin-bottom: 10px; }

.desc-tab__detail-info-sumit {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  background-color: #1bbc9b;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px; }

.place__item {
  text-align: center;
  margin-bottom: 46.5px;
  position: relative; }

.place__price--sale .place__sale-btt {
  display: block; }

.place__sale-btt {
  font-size: 13px;
  line-height: 13px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #1bbc9b;
  letter-spacing: 1px;
  padding: 8px;
  top: 13.3px;
  right: 13.8px;
  display: none; }

.place__link {
  display: block;
  text-decoration: none; }

.place__img {
  width: 100%;
  margin-bottom: 13.6px; }

.place__desc {
  text-align: left;
  display: block; }

.place_name {
  font-family: 'Poppins', sans-serif;
  color: #555555;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-top: -2.7px;
  margin-left: 0.5px;
  margin-bottom: 26px; }

.place__start-rate {
  width: 100%;
  position: relative;
  margin-top: 3px;
  margin-bottom: 14px; }

.star-icons {
  font-size: 11.5px;
  color: #8a8a8a;
  opacity: 0.9;
  margin-left: -4px; }

.star-icons:first-child {
  margin-left: 0; }

.place__price {
  margin-bottom: 19.3px; }

.place__price--sale .place__desc .place__price-remove {
  text-decoration: line-through;
  color: #ccc; }

.place__price--sale .place__desc .place__price-curent {
  text-decoration: underline; }

.space {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #9a9a9a; }

.place__price--sale .place__desc .space {
  display: none;
  text-decoration: none; }

.place__price-remove, .place__price-curent {
  color: #9a9a9a;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  margin-right: 1.2px; }

.place__btt {
  font-size: 13px;
  line-height: 13px;
  color: #9a9a9a;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  letter-spacing: 1px;
  padding: 5.234px 13.0px;
  text-decoration: none;
  border: 1px solid #f1f1f1; }
