* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1215px;
    height: 717px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-register {
    padding: 60px 30px;
    width: 500px;
    height: 500px;
    background: rgba(0,0,0,0.5)
}

.register-name, .register-email, .register-password {
    height: 67px;
}

.register-name-input, .register-email-input, .register-password-input {
    display: flex;
}

.register-name-error, .register-email-error, .register-password-error, .error-check {
    color: red;
    margin-top: 10px;
    margin-left: 44px;
}

/* .error-check {
    color: red;
    margin-top: 10px;
} */

.video-animed {
    position: absolute;
    top: 0;
    left: 0;
    width: 1215px;
    height: 717px;
    object-fit: cover;
    z-index: -1;
}


.input-name, .input-email, .input-password {
    width: 100%;
    /* margin-bottom: 40px; */
    padding: 5px 5px;
    border: none;
    margin-left: 15px;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #ccc;
}

.icon-pass, .icon-email, .icon-user {
    color: #fff;
    font-size: 30px;
}

.register-rule {
    height: 80px;
}
.register-rule-text {
    display: flex;
    color: #ccc;
    /* margin-bottom: 30px; */
}

.check-rules {
    margin-right: 22px;
}

.register-submid {
    text-align: center;
}

.register-btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgb(180, 10, 10);
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
}

.question-login {
    margin-top: 40px;
    color: #ccc;
}
.text-login {
    color: #fff;
    cursor: pointer;
}